.signup-page-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(34, 42, 49, 1);

  @media only screen and (max-width: 1180px) {
    flex-direction: column-reverse;
  }

  .signup-page-section-left-area {
    width: 50%;
    overflow: hidden;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    @media only screen and (max-width: 1180px) {
      width: 100%;
    }

    .signup-page-section-twitter-icon {
      width: 300px;
      position: absolute;
      color: white;
      transition: all 0.2s ease-out;

      @media only screen and (max-width: 600px) {
        width: 200px;
      }
    }

    .signup-page-section-twitter-icon-area {
      position: absolute;

      svg {
        font-size: 25rem;
        color: white;
        transition: all 0.2s ease;

        @media only screen and (max-width: 600px) {
          font-size: 12rem;
        }
      }
    }
  }

  .signup-page-section-right-area {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem;

    @media only screen and (max-width: 1180px) {
      justify-content: center;
      width: 100%;
      padding: 1rem 0;
    }
  }
}
