main {
  .pos-rel {
    position: relative;
  }

  .pos-ab {
    position: absolute;
  }

  .dd-divider {
    width: 100%;
    border-top: 1px solid rgba($color: #979797, $alpha: 0.4);
    margin: 0.1rem 0;
  }

  .w300 {
    width: 300px !important;
  }

  .test-box {
    width: 300px;
    height: 300px;
    background-color: green;
  }
}
