.container {
  position: relative;

  .left-area {
    margin-bottom: 2rem;
    border: 1px solid rgba($color: #525252, $alpha: 1);
    border-radius: 5px;
    padding: 0.4rem 0.3rem;
    position: relative;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    transition: all 0.2s ease;

    .title {
      color: rgba($color: #808080, $alpha: 1);
      font-size: 18px;
      transition: all 0.3s ease;
    }

    .title-passive {
      font-size: 13px;
    }

    input {
      display: none;
      outline: none;
      border: none;
      background-color: transparent;
      color: white;
      padding: 0.2rem;
      font-size: 18px;
      width: 88%;
    }

    .input-active {
      display: block;
    }
  }

  .left-area-active {
    border: 2px solid rgba($color: #1892df, $alpha: 1);
  }

  .right-area {
    .icon-area {
      cursor: pointer;
      right: 10px;
      bottom: 0px;
      font-size: 22px;
      position: absolute;
      color: white;
    }
  }
}
