nav {
  .bottom-bar-area {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-top: 1px solid rgb(231, 234, 235);
    display: none;
    background-color: white;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
    padding: 10px 0;
    z-index: 12;
    width: 100%;

    @media only screen and (max-width: 500px) {
      display: flex;
    }

    .icon-area {
      font-size: 1.7rem;
      svg {
        color: rgba($color: #000000, $alpha: 0.6);
      }
    }

    .active-icon {
      svg {
        color: rgba(29, 161, 242, 1);
      }
    }
  }
}
